

#article {
    width: 980px;
    margin-left: calc((100vw - 980px) / 2);
    margin-right: calc((100vw - 980px) / 2);
}


#article-header {
    text-align: center;
    background-image: url("../img/driving.jpeg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-position-y: 60%;
    height: 450px;
}

#article-title {

    text-align: center;
    font-family: "SF Pro Display";
    font-size: 58px;
    font-weight: 600;
    letter-spacing: -0.009em;
    line-height: 1.0625;

}

.intro {
    font-size: 24px;
    text-align: center;
    margin: 0; 
}

#article-headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 40px;
}

#apply-button {

    padding: 15px;
    min-width: 400px;

    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 1rem;

    cursor: pointer;

}