.logo-top {
    position: relative;
    height: 44px;
    width: 14.5px;
    padding: 0;
    z-index: 100;
    fill: #E5E5EA;
}

.logo-top:hover {
    animation: filllogo .32s forwards;
}

.logo-top:not(:hover){
    animation: nofilllogo .32s forwards;
}

.wrapper-subnav {
    display: flex;
    width: 100%;
    max-width: 9999px;
    align-items: flex-start;
}

.nav-subtop-background::after{
    content: '';
    display: block;
    height: 1px;
    width: 980px;
    background-color: #d2d2d2;
    margin:-4px auto 0 auto
}

.nav-top {
    display: flex;
    width: 980px;
    height: 48px;
    margin: 0 auto 0 auto;
    padding: 0 22px 0 8px;
}

.nav-subtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 22px 0 10px;
}

.nav-subtop-content {
    font-family: 'SF Pro Display Regular';
    font-size: 1.31rem;
    font-weight: 600;
    line-height: 3.15rem;
    max-width:max-content;
    letter-spacing: 0.053rem;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    margin: -5px 0 0 0;
    color: #F2F2F7;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    text-align: center;
    overflow-y: hidden;
    flex-grow: 1;
}

header {
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.75);
    width: 100%;
}

.bouton-commencer {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: .01em;
    line-height: 1.3333733333;
    font-family: 'SF Pro Display Light';
    border: 0px;
    background-color: #0071E3;
    transition: all 0.24s ease-in-out;
    color: white;
    z-index: 0;
    cursor: pointer;

}

.bouton-commencer:hover {
    background-color: #0076DF ;
}

.container2{
    margin: 0 ;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-sizing: border-box;
}

.video {
    position: relative;
    width: 100%; 
    margin: 0 auto;
    z-index: 0;
}

.video video {
    position: absolute;
    top: 0;
    left: 0;
    z-index:  0x;
    width: 100%;
}

header {
    background-color: #161617CC;
    backdrop-filter: blur(30px);
}

.nav-subtop-background {
    display: none;
}

.navtop-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: inherit;
    gap: 32px;
    margin: 0 0 7px 30px;
    color: #D8D8DC;
}

.a-navtop{
    font-family: 'SF Pro';
    font-size: 13px;
    color: #AEAEB2;
    text-decoration: none;
    transition: all 0.24s ease-in-out;
}

.a-navtop:hover{
    color: #EBEBF0;
}

.search-navtop{
    margin: 7px 0 0 0;
    fill: #D8D8DC;
}

.search-navtop:hover{
    fill: #EBEBF0;
}

#search-bar {
    display: inline-block;
    width: 0;
    overflow: hidden;
    margin: 0 -30px 0 0;
    opacity: 0;
    transition: width 0.3s ease-in-out;
    border-radius: 10px;
}

#search-bar.active {
    animation: searchbarin 0.3s forwards;
    width: 200px;
    border-radius: 10px;
}

#search-bar.inactive {
    animation: searchbarout 0.3s forwards;
}

.hidden {
    display: none;
}

.search-input {
    width: 100%;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: #161617CC;
    backdrop-filter: blur(30px);
}

/*#search-bar {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    display: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}*/

@keyframes filllogo {
    from {
        fill: #E5E5EA;
    }

    to {
        fill: white;
    }
}

@keyframes nofilllogo {

    from {
        fill: white;
    }

    to {
        fill: #E5E5EA;
    }
}

@keyframes searchbarin {
    from {
        width: 0;
        opacity: 0;
        margin: 0 -30px 0 0;
    }

    to {
        width: 200px;
        opacity: 1;
        margin: 0 0 0 10px;
    }
}

@keyframes searchbarout {
    from {
        width: 200px;
        opacity: 1;
        margin: 0 0 0 10px;
    }
    to {
        width: 0;
        opacity: 0;
        margin: 0 -30px 0 0;
    }
}