.logo-top {
    position: relative;
    height: 48px;
    width:17px;
    height: auto;
    padding: 0;
    z-index: 100;
    fill: #363638;
    left: 1%;
    transition: all .24s ease;
}

.logo-top:hover {
    fill: black;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'SF Pro';
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transition: all .24s ease;
}

.container:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) ;
}

h1 {
    color: #333;
    font-family: 'SF Pro Display Heavy';
}
h2 {
    color: #444;
    font-family: 'SF Pro Display Heavy';
}
p {
    font-family: 'SF Pro';
    margin-bottom: 1em;
    color: #555;
}
ul {
    font-family: 'SF Pro';
    list-style: none;
    padding-left: 0;
}
li {
    font-family: 'SF Pro';
    margin: 0.5em 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.link2{
    text-decoration: none;
    font-family: 'SF Pro';
    color: black;
    transition: all .24s ease;
}

.svg-icon-inline-chevron-localization{
    height: 11px;
    opacity: 1;
    margin: 0 0 -1px -1px;
    fill: black;
}

.link2:hover{
    color: #555;
    .svg-icon-inline-chevron-localization {
        animation: slideout .24s forwards;
        fill: #555;
    }
}

.link2:not(:hover){
    color: black;
    .svg-icon-inline-chevron-localization {
        animation: slideext .24s forwards;
        fill: black;
    }
}

.link1{
    text-decoration: none;
    font-family: 'SF Pro';
    color: black;
    transition: all .24s ease;
}

.svg-icon-inline-chevron-company {
    height: 11px;
    opacity: 1;
    margin: 0 0 -1px -1px;
    fill: black;
}

.link1:hover{
    color: #555;
    .svg-icon-inline-chevron-company {
        animation: slideout .24s forwards;
        fill: #555;
    }
}

.link1:not(:hover){
    color: black;
    .svg-icon-inline-chevron-company {
        animation: slideext .24s forwards;
        fill: black;
    }
}

@keyframes slideout {

    from {
        opacity: 0;
        margin: 0 0 -1px -11px ;
    }

    to {
        opacity: 1;
        margin: 0 0 -1px -1px;
    }
}

@keyframes slideext {

    from {
        opacity: 1;
        margin: 0 0 -1px -1px ;
    }

    to {
        opacity: 0;
        margin: 0 0 -1px 10px;
    }
}

.header {

    height: 400px;
    
    background-image: url("../img/legals-header.jpg");
    background-position: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    text-align: center;
}

.header-title {
    font-size: 40px;
    letter-spacing: -0.144px;
    font-family: "SF Pro Display";
    font-weight: 600;
    line-height: 44px;
}

.header-sub {
    font-size: 19px;
    font-family: "SF Pro Display Light";
    letter-spacing: 0.228px;
    line-height: 23px;
}

.wrapper-nav {
    background-color: #FFFFFC;
    backdrop-filter: none;
}

.wrapper-subnav {
    background-color: transparent;
    backdrop-filter: none;
}