#logo{
    width: 2vh;
}

body > main{
    border: 0.3vh;
    border-style: outset;
    border-color: black;
    text-align: center;
    align-items: center;
}


input{
    height: 5vh;
    width: 50vh;
    border-radius: 1.5vh;
    border-color: gray;
    border-style: solid;
    border-width: 0.1vh;
    margin-bottom: 3vh;
    font-size: large;
}

#text:valid + #ok {
    background-color: #007AFF; /* Couleur pour le bouton actif */
    cursor: pointer;
    opacity: 2;
}

button{
    display: block;
    position: relative;
    justify-content: right;
}

/* Style optionnel pour le bouton */
#ok {
    display: inline-flex;
    position:absolute;
    width: 3vh;
    height: 3vh;
    border-radius: 100%;
    color: rgb(24, 22, 22);
    transition: background-color 1s ease;
    align-items: center ;
    
}



