@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 800;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


body, html {
    padding: 0;
    margin: 0;
    overflow: auto;
}

* {
    font-family: 'SF Pro';
}

.default-card {
    display: none;
}

.shown {
    display: inherit !important;
}

.hidden  {
    display: none !important;
}


.footer {
    width: 100%;
    padding: 0px 0 25px 0;
    color: #6e6e73;
    text-align: left;
    line-height: 1.33em;
    font-size: 13.5px;
    letter-spacing: 0.01em;
}

.footer-wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0 0 0px;
}

.footer-label-0, .footer-label-1 {
    padding: 0 0 3px 0;
}

.footer-label-0 a {
    color: #06c;
    text-decoration: none;
}

.footer-label-0 a:hover {
    text-decoration: underline;
}

.footing a {
    color: #424245;
    text-decoration: none;
}

.footing a:nth-child(n+2)::before {
    content: "|";
    color: #d2d2d7;
    --spacing: 10px;
    padding-left: calc(var(--spacing) / 2);
    padding-right: calc(var(--spacing) / 2);
}

.footing a:hover {
    text-decoration: underline;
}

@media  screen and (max-width: 600px) {

    .footer {
        width: 95%;
        max-width: 600px;
        margin: 0 20px 0 20px;
    }
}
