@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 800;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro.woff2') format('woff2'),
        url('/fonts/SF-Pro.woff') format('woff'),
        url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    font-family: 'SF Pro';
}

.default-card {
    display: none;
}

.shown {
    display: inherit !important;
}

.hidden  {
    display: none !important;
}
