@media screen and (max-width: 600px) {

    .content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .wrapper {
        
    }
    
}

body, html {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 255;   
}

.informations {
    color: #242426;
    font-size: 15.5px;
    font-family: 'SF Pro';
    letter-spacing: 0.001em;
    text-align: center;
    padding: 15px 0 15px 1px;
}

.informations a {
    color: #06c;
    text-decoration: none;
}

.svg-icon-inline-chevron-right {
    height: 11px;
    margin: 0 0 -1px -1px;
    fill: #06c;
}

.informations a:hover {
    text-decoration: underline;
}

main > h1 {
    text-align: center;
}
.subheader-centered {
    text-align: center;
}

.external-link .external-link__icon {
    height: 1.12em;
    fill: #06c;
    vertical-align: middle;
    position: relative;
    right: 6px;
    top: 1px;
}

.subheader-centered a {
    color: #06c;
    text-decoration: none;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
}

.subheader-centered a:hover {
    text-decoration: underline;
}

.subheader-centered span{
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 48px - 52px);
    text-align: center;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 730px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box; 
    }
}

.container {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.content {
    padding: 45px 0 0 0;
}

.title-div h1 {
    font-size: 2.25rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1d1d1f;
    font-family: 'SF Pro Display Medium';
    /* #494949 To keep*/
}

main > div * {
    font-family: 'SF Pro';
    color: #242426;
}

.name-wrapper, .id-wrapper, .email-wrapper, .phone-wrapper{
    display: flex;
    gap: 10px;
    max-width: 500px;
    width: 100%;
}


.form-textbox-label, .form-emailbox-label, .form-passwordbox-label, .form-confirm-passwordbox-label, .form-phonebox-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #888; 
    pointer-events: none;
    font-size: 1rem;
}

.subheader-centered {
    margin-bottom: 20px;
    color: #666;
    font-size: 1.12rem;
    line-height: 1.5;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
}

.form-textbox{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.email-box, .password-box, .password-wrapper, .confirm-password-wrapper, .confirm-password-box, .phone-box {
    width: 100%;
    position: relative;
    display: flex;
}

.form-textbox-input, 
.form-emailbox-input, 
.form-passwordbox-input,
.form-confirm-passwordbox-input,
.form-phonebox-input {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    font-size: 1rem;
    border: 1px solid #888;
    border-radius: 10px;
    outline: none;
    background: #fff;
    box-sizing: border-box; 
    transition: border-color 0.24s ease-in-out;
}

.form-textbox-input:focus, .form-emailbox-input:focus, .form-passwordbox-input:focus, .form-confirm-passwordbox-input:focus, .form-phonebox-input:focus {
    border: 2px solid #0071e3;
    padding-top: 18px;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.9rem;
    color: #888;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-phonebox-input:focus + label,
.form-phonebox-input:not(:placeholder-shown) + label,
.form-textbox-input:focus + label,
.form-textbox-input:not(:placeholder-shown) + label,
.form-emailbox-input:focus + label,
.form-emailbox-input:not(:placeholder-shown) + label,
.form-passwordbox-input:focus + label,
.form-passwordbox-input:not(:placeholder-shown) + label,
.form-confirm-passwordbox-input:focus +label,
.form-confirm-passwordbox-input:not(:placeholder-shown) + label{
    /* animation: input-focus 0.24s forwards ease-in-out; */
    top: 13px;
    left: 10px;
    font-size: 0.8rem;
}

.email-text {
    display: flex;
    font-family: 'SF Pro';
    font-size: 14px;
    color: #545456;
    margin: 15px 0 0 0;
    text-align: left;
    width: 100%;
}

.container-input {
    display: flex;             
    flex-direction: column;  
    align-items: start;      
    height: 100%;            
    margin: 0;                
    padding: 10px 0 10px 0;               
}

.radio-sms-input,
.radio-call-input {
    display: flex;
    justify-content: start;
    width: 18px;
    height: 18px;
}

.validation-input-sms,
.validation-input-call {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #888; 
    padding: 0 0 10px 0;
}

.radio-sms-label, .radio-call-label {
    padding: 0 0 0 10px;
    font-size: 17px;
}

.validation-radio-box-content-0, .validation-radio-box-content-1 {
    display: flex;  
    margin: 10px 0 10px 0;               
    padding: 0;            
    width: 100%;              
    text-align: left;
    font-family: 'SF Pro';
}

.validation-radio-box-content-0 {
    font-size: 1rem;
    color: #666;
}

.validation-radio-box-content-1 {
    font-size: 1.2rem;
}

.privacy-wrapper {
    height: 141.3px;
}

.privacy-image-logo {
    width: 35px;
    margin: 0 0 5px 0;
}

.privacy-wrapper a {
    color: #06c;
    text-decoration: none;
    display: inline-flex;
    font-family: 'SF Pro Text Medium';
}

.privacy-wrapper a:hover {
    text-decoration: underline;
}

.privacy-text-span {
    color: #6e6e73;
    font-size: 12px;
    letter-spacing: -.05em;
    font-family: 'SF Pro Text Medium';
    line-height: .7em;
    height: 100%;
    max-height: 94px;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 44px;
    padding: 20px 0 0 0;
    margin: 0 0 35px 0;
}

.submit-button-label {
    font-family: 'SF Pro Display Regular';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: #fff;
    pointer-events: none; 
    z-index: 2;
    padding: 20px 0 0 0;
    letter-spacing: 0.033em;
    font-weight: 200;
}

.submit-button input[type="submit"] {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #0071e3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 44px;
}

.submit-button input[type="submit"]:hover {
    animation: submit-in-progress 1s forwards;
}

@keyframes submit-in-progress {
    to {
        background-color: #06c;
    }
}

/* 
@keyframes widthchange {
    from {
        width: 100%;
    }
    to {
        width: 70%;
    }
}

@keyframes widthchangeback {
    from {
        width: 70%;
    }
    to {
        width: 100%;
    }
}

@keyframes widthchange2 {
    from {
        width: 70%;
    }
    to {
        width: 45%;
    }
}

@keyframes widthchangeback2 {
    from {
        width: 45%;
    }
    to {
        width: 70%;
    }
} */

@keyframes fontchangetext {
    from {
        font-size: 1rem;
    }

    to {
        font-size: .9rem;
    }
}

@keyframes fontchangeh1 {
    from {
        font-size: 2.25rem;
    }

    to {
        font-size: 1.75rem;
    }
}

@keyframes filllogo {
    from {
        fill: #363638;
    }

    to {
        fill: black;
    }
}

@keyframes nofilllogo {

    from {
        fill: black;
    }

    to {
        fill: #363638;
    }
}

@keyframes input-focus {
    to {
        top: 13px;
        left: 10px;
        font-size: 0.8rem;
    }
}

@keyframes input-notfocus {
    to {
        top: 25px;
        left: 10px;
    }
}

@keyframes submit-phone {

    from {
        padding: 0 0 0 0;
    }

    to {
        padding: 0 0 80px 0;
    }
}

@keyframes margininfo {
    from {
        margin: 0 0 0 0;
    }

    to {
        margin: 0 50px 0 50px;
    }
}

@keyframes fontsizechange {
    from {
        font-size: 21px
    }

    to {
        font-size: 1.11em;
        letter-spacing: .075em;
        padding: 4px 0 0 0;
    }
}

/*wadawda*/

@media screen and (max-width: 1400px) {

    h1 {
        animation: fontchangeh1 .5s forwards;
    }

    .container {
        width: 100%;
        max-width: 1400px ;
    }

    .informations {
        animation: margininfo .5s forwards; 
    }

    .subheader-centered {
        animation: fontchangetext .5s forwards;
    }

    .privacy-wrapper {
        animation: submit-phone .5s forwards, widthchange .5s forwards;
    }

    .submit-button input[type="submit"] {
        padding: 20px;
    }

    .nav-subtop,.nav-top, .nav-subtop-background::after {
        margin: auto;
    }

    .nav-subtop {
        padding: 0 0 0 17px;
    }

    .logo-top {
        position: relative;
        height: 48px;
        width: 17px;
        padding: 0;
        z-index: 100;
        fill: #363638;
        padding: 0 6px 0 6px;
    }

    .informations {
        font-size: 12px;
    }

    .nav-subtop-background::after {
        margin: -4px auto 0 auto;
    }
}

@media screen and (max-width: 1020px) {

    .nav-subtop-background::after {
        margin: -4px auto 0 auto;
    }
}

@media screen and (max-width: 1907px){

}

@media screen  and (max-width: 800px ){
    .nav-subtop-content {
        animation: fontsizechange .24s forwards;
    }
}

@media screen and (min-width: 820px) {
    
    .logo-top {
        position: relative;
        height: 44px;
        width: 14.5px;
        padding: 0;
        z-index: 100;
        fill: #363638;
        padding: 0px 6px 0 6px;
    }
    
}

@media  screen and (max-width: 600px) {
    .container {
        width: 100%;
        max-width: 600px;
    }

    body, html {
        width: 100%;
        max-width: 600px;
    }

    .privacy-text-span {
        width: 100%;
        max-width: 400px;
        font-size: 11px;
        letter-spacing: -.01em;
    }

    .logo-top {
        position: relative;
        height: 44px;
        width: 14.5px;
        padding: 0;
        z-index: 100;
        fill: #363638;
        padding: 0px 6px 0 6px;
    }
}

@media screen and (max-width: 400px) {
    .name-wrapper {
        flex-direction: column;
        gap: 0; 
    }

    .name-wrapper .form-textbox {
        margin-bottom: 15px;
    }
}