body{
    background-color: var(--sk-body-background-color, #fff);
    color: var(--sk-body-text-color, #1d1d1f);
    font-family: '../SF Pro Text', '../SF Pro Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.4705882353;
}

.logo-top {
    position: relative;
    height: 44px;
    width: 14.5px;
    padding: 0;
    z-index: 100;
    fill: #363638;
    padding: 0px 6px 0 6px;
}

.logo-top:hover {
    animation: filllogo .32s forwards;
}

.logo-top:not(:hover){
    animation: nofilllogo .32s forwards;
}

.wrapper-subnav {
    display: flex;
    width: 100%;
    max-width: 9999px;
    align-items: flex-start;
    margin: -5px 0 0 0;
}

.nav-container {
    position: sticky;
    top: 0;
    z-index: 255;
}

.nav-subtop-background::after{
    content: '';
    display: block;
    height: 1px;
    width: 980px;
    background-color: #d2d2d2;
    margin: -4px auto 0 auto
}

.nav-top {
    width: 980px;
    height: 48px;
    margin: 0 auto 0 auto;
    padding: 0 22px 0 10px;
}

.nav-subtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto 3px auto;
    padding: 0 22px ;
}

.nav-subtop-content {
    font-family: 'SF Pro Display Regular';
    font-size: 21px;
    font-weight: 600;
    line-height: 3.15rem;
    color: #242426;
    white-space: nowrap;
}

.nav-subtop-content-right {
    text-decoration: none;
    transition: all .1s ease-in-out;
    margin: 1px 0 0 0;
}

.bouton-deconnexion {
    height: 26px;
    border-radius: 12px;
    font-size: 12px;
    letter-spacing: .01em;
    line-height: 1.3333733333;
    font-family: 'SF Pro';
    border: 0px;
    background-color: #06c;
    transition: all 0.24s ease-in-out;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.bouton-deconnexion:hover {
    background-color: #007AFF ;
}

button , .input{
    color : white;
    border-radius: 10%;
    background-color: rgb(0, 122, 255);
    border-color: rgb(0, 122, 255);
    border-style: solid;
    border-radius: 20px;
    height: 2.3em;
    width: 8em;
}

.container{
    width: 100%;
    min-height: 100%;
    max-width: 980px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 980px;
    height: 100%;
    max-height: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 12px -1px black;
    transition: all .75s ease;
}

.card:hover{
    scale: 1.025;

    .title {
        color: rgb(99, 99, 102);
    }

    .span-text {
        font-size: 1.2em;
        color: #06c;
    }

    .a-span {
        color: #06c;
    }

    .lottie-path {
    animation: draw 3s linear forwards;
    stroke: #06c;
    }
}

.a-span {
    text-decoration: none;
    color: black;
}

.title {
    font-family: 'SF Pro Display Medium';
    font-size: 2em;
    transition: all .75s ease;
}

.text{
    font-family: 'SF Pro';
    font-size: 1.1em;
}

.span-text {
    transition: all .75s ease;
}

.lottie {
    margin: 0 0 0 46%;
    display: flex;
}

.lottie-path {
    stroke-dasharray: 705; /* La longueur totale du chemin */
    stroke-dashoffset: 705; /* Cache le chemin au début */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Montre le chemin */
    }
}

@keyframes filllogo {
    from {
        fill: #363638;
    }

    to {
        fill: black;
    }
}

@keyframes nofilllogo {

    from {
        fill: black;
    }

    to {
        fill: #363638;
    }
}





