@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles../fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 800;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles../fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: 'SF Pro';
    src: url('../../fonts/SF-Pro.woff2') format('woff2'),
        url('../../fonts/SF-Pro.woff') format('woff'),
        url('....//fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Heavy';
    src: url('../../fonts/SF-Pro-Display-Heavy.ttf') format('truetype'),
        url('../../fonts/SF-Pro-Display-Heavy.woff') format('woff'),
        url('../../fonts/SF-Pro-Display-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Black';
    src: url('../../fonts/SF-Pro-Display-Black.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Display-Black.woff') format('woff'),
        url('../../fonts/SF-Pro-Display-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../../fonts/SF-Pro-Display-Regular.ttf') format('truetype'),
        url('../../fonts/SF-Pro-Display-Regular.woff') format('woff'),
        url('../../fonts/SF-Pro-Display-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Light';
    src: url('../../fonts/SF-Pro-Display-Light.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Display-Light.woff') format('woff'),
        url('../../fonts/SF-Pro-Display-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url('../../fonts/SF-Pro-Display-Medium.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Display-Medium.woff') format('woff'),
        url('../../fonts/SF-Pro-Display-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Display-Regular.woff') format('woff'),
        url('../../fonts/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text Regular';
    src: url('../../fonts/SF-Pro-Text-Regular.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Text-Regular.woff') format('woff'),
        url('../../fonts/SF-Pro-Text-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text Thin';
    src: url('../../fonts/SF-Pro-Text-Thin.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Text-Thin.woff') format('woff'),
        url('../../fonts/SF-Pro-Text-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text Light';
    src: url('../../fonts/SF-Pro-Text-Light.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Text-Light.woff') format('woff'),
        url('../../fonts/SF-Pro-Text-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text Medium';
    src: url('../../fonts/SF-Pro-Text-Medium.woff2') format('woff2'),
        url('../../fonts/SF-Pro-Text-Medium.woff') format('woff'),
        url('../../fonts/SF-Pro-Text-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
